Link:{
    font-family: 'Helvetica, sans-serif';
}
.logo{
    color:#fff;
    font-size: 1.5rem;
    text-decoration: none;
}
.link{
    color:#bcbcbc;
    font-size: 1.25rem;
    text-decoration: none;
}

